backports.weakref==1.0rc1
bleach==1.5.0
certifi==2016.2.28
colorama==0.3.9
cycler==0.10.0
decorator==4.1.2
gevent==1.2.2
greenlet==0.4.12
html5lib==0.9999999
inflection==0.3.1
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
Markdown==2.6.9
matplotlib==2.0.2
more-itertools==3.2.0
numexpr==2.6.4
numpy==1.14.0
pandas==0.19.2
path.py==10.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.2.0
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.14.2
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
six==1.10.0
tables==3.4.2
tensorflow==1.2.1
traitlets==4.3.2
tstables==0.0.15
wcwidth==0.1.7
websocket==0.2.1
Werkzeug==0.12.2
wincertstore==0.2
